## Data science group project 

## Data:  
Number of transports by different types of passengers

In [177]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.feature_selection import RFE

In [179]:
bus_data = pd.read_csv("Untitled Folder/Bus Card Type.xlsx - Bus Card Type.csv.csv")
bus_data.head()

,Date,Adult,Child/Youth,Concession,Employee,Free Travel,School Student,Senior/Pensioner,On Demand,CTP,Day Pass Child/Youth w/o SAF,Day Pass without SAF,Monthly passengers
0,16-Jul,"390,433","62,800","136,064",0,"1,149","138,642","206,110",0,0,0,0,"935,198"
1,16-Aug,"386,386","67,010","73,590",0,"1,281","296,261","224,668",0,0,0,0,"1,049,196"
2,16-Sep,"370,068","70,022","61,676",0,"1,320","203,827","218,598",0,0,0,0,"925,511"
3,16-Oct,"381,402","78,951","60,635",0,"1,410","197,558","227,088",0,0,0,0,"947,044"
4,16-Nov,"405,245","76,328","57,858",0,"1,462","255,994","236,965",0,0,0,0,"1,033,852"

In [180]:
bus_data.shape

(62, 13)

In [181]:
bus_data.tail()

,Date,Adult,Child/Youth,Concession,Employee,Free Travel,School Student,Senior/Pensioner,On Demand,CTP,Day Pass Child/Youth w/o SAF,Day Pass without SAF,Monthly passengers
57,21-Apr,"271,849","52,658","36,117","1,944","1,353","69,598","176,368","8,887","101,192",1,99,"720,066"
58,21-May,"289,229","42,457","42,044","1,967","1,329","132,272","183,225","10,133","106,754",0,147,"809,557"
59,21-Jun,"259,924","34,715","32,919","1,314","1,081","102,099","163,825","9,366","97,027",0,95,"702,365"
60,21-Jul,"127,354","11,205","10,461",513,488,"1,276","75,935",0,"48,652",0,79,"275,963"
61,21-Aug,"102,883","6,708","7,436",480,389,"1,501","63,463",0,"39,328",1,81,"222,270"

In [183]:
bus_data.plot(y='Monthly passengers')

TypeError: no numeric data to plot

# Questions:
1.

2.