In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.feature_selection import RFE

In [2]:
# Load the data and show the info and contents:
data = pd.read_csv("files/ClearnedBusCardType.csv", na_values="?")

In [3]:
data.head()

,Date,Adult,Child/Youth,Concession,Employee,Free Travel,School Student,Senior/Pensioner,On Demand,CTP,Day Pass Child/Youth w/o SAF,Day Pass without SAF,Monthly passengers
0,16-Jul,"390,433","62,800","136,064",0,"1,149","138,642","206,110",0,0,0,0,"935,198"
1,16-Aug,"386,386","67,010","73,590",0,"1,281","296,261","224,668",0,0,0,0,"1,049,196"
2,16-Sep,"370,068","70,022","61,676",0,"1,320","203,827","218,598",0,0,0,0,"925,511"
3,16-Oct,"381,402","78,951","60,635",0,"1,410","197,558","227,088",0,0,0,0,"947,044"
4,16-Nov,"405,245","76,328","57,858",0,"1,462","255,994","236,965",0,0,0,0,"1,033,852"

In [5]:
data.shape()

TypeError: 'tuple' object is not callable